/* Starting banner and article part */

.first-part{
    background: #2D25A0;
    height: 677px;
    width: 100%;
    margin:0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
   
     
    
}
.blog{
    height: 230px;
    width: 485px;
    left: 156px;
    top: 207px;
    margin-left: 156px;
    margin-top: 207px;
    margin-bottom: 240px;

   

}

.title-side{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    
}
.blogs{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
    position: absolute;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    margin-top: 464px;
    margin-right: 1116px;
    background: #E02C6D;
    border-radius: 10px;
    color:#FFFFFF;
}
.written-part{
    display: flex;
    align-items: center;
    padding: 10 24 10 24;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
.indicator{
    margin-left: 8px;
    align-items: center;
}
.fas fa-arrow-right{
    position: absolute;
    left: 16px;
    right: 14px;
    top: 5px;
    left:4px;
}
.banner{
    height: 438px;
    width: 556.0103149414062px;
    left: 1299.01025390625px;
    top: 153px;
    border-radius: 0px;
    margin-left: 102px;

}
.banner img{
    height: 410px;
    width: 342px;
    left: 827px;
    top: 153px;
}
.banner img:hover{
    transition: transform 2s ease-in-out;
    transform: rotate(360deg) scale(1.5);
}
/* In here we are now 
working on main styles */
.element{
    display:flex;
    justify-content: center;
}

.container{
    max-width: 1440px;
}
.detail-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
   
}
.box-style{
width:330px;
height:474px;
margin-top: 70px;
margin-left: 180px;
padding:15px;
box-shadow: 10px 10px 5px #6C6C6C;
}
.box-style-middle{
    width:330px;
    height:474px;
    margin-top: 70px;
    margin-left: 36px;
    padding:15px;
    box-shadow: 10px 10px 5px #6C6C6C;
}
.box-style-3{
    width:330px;
    height:474px;
    margin-top: 70px;
    margin-right: 210px; 
    margin-left: 24px;
    padding: 15px;
    box-shadow: 0px 13px 20px #6C6C6C;
}
.margin-size{
    margin-top: 16px;
}
.detail-blog img{
    width:300px;
    height:256px;
}
.font-style{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
.simple-word-style{
 font-family: 'Poppins', sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 26px;
 color: #6C6C6C;
}
/* Extra code */
ul{
    text-align: center;
    text-decoration: none;
    background-color:gold;
}
a{
    text-decoration: none;
    color:green;
}
a:hover{
    color:red;
}
/*   footer code here    */
.end-style{
  margin:360px;
   
}
.footer-pic{
    width: 483.87px;
    height: 110px
}

.icon-style{
    height: 32px;
    width: 170px;
    left: 156.93551635742188px;
    margin-top: 90px;
    margin-left:360px;
    margin-right: 360px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 14px;
    align-items: center;
    
}
.fas fa-video{
    height: 32px;
    width: 32px;
}
.fab fa-google-plus-g{
    height: 32px;
    width: 32px
}
.fab fa-twitter{
    height: 32px;
    width: 32px
}
.fab fa-facebook-square{
    height:32px;
    width: 32px;
}
.last-blog{
    text-align: center;
    color: brown;
}

/* For smaller screen size */
@media only screen and (max-width:736px){
    .first-part{
       width:100%;
       justify-content: center;
       flex-direction: column;
       margin:0;
    }
    .blog{
        width: 100%;
        flex-direction: column;
        margin:0;
        justify-content: center;
    }
    .title-side{
        width:100%;
        flex-direction: column;
        margin:0;
        justify-content: center;
    }
    .blogs{
        flex-direction: column;
        justify-content: center;
        width:100%;
        margin:0;
    }
    .written-part{
        flex-direction: column;
        justify-content: center;
        width:100%;
        margin:0;
        
    }
    .indicator{
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .fas fa-arrow-right{
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin: 0;
    }
    .banner{
        justify-content: center;
        flex-direction: column;
        width: 100;
        margin: 0;
    }
    .banner img{
        justify-content: center;
        flex-direction: column;
        width: 100;
        margin: 0;
    }
    .banner img:hover{
        transition: transform 2s ease-in-out;
        transform: rotate(360deg) scale(1.5);
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .element{
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .end-styles{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .box-style{justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .box-style-middle{justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;

    }
    .box-style-3{
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    .margin-size{
        margin: 0;
    }
    .detail-blog img{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin:0;
    }
    .font-style{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin:0;
    }
    .simple-word-style{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin:0;
    }
    .footer-pic{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin:0;
    }
    .icon-style{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        flex-direction: column;
        width:100%;
        margin:0;
    }
    
    
    .detail-blog{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        flex-direction: column;
        width:100%;
}
.fas fa-video{
    width: 100%;
        justify-content: center;
        flex-direction: row;
        margin:0;

}
.fab fa-google-plus-g{
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin:0;
}
.fab fa-twitter{
    width: 100%;
    justify-content: center;
    flex-direction:row;
    margin:0; 
}
.fab fa-facebook-square{
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin:0;
}
.last-blog{
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin:0;
    text-align: center;
}
}